<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<services>
			<!-- Megjegyzés: A szolgáltatásnévnek egyeznie kell a szolgáltatásimplementáció konfigurációs nevével. -->
			<service name="WCF_elso_server.Service1" behaviorConfiguration="MyServiceTypeBehaviors">
				<!-- A következő végpont hozzáadása.  -->
				<!-- Megjegyzés: A végpont hozzáadásához a szolgáltatásnak http típusú alapcímmel kell rendelkeznie. -->
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors">
					<!-- A következő elem hozzáadása a szolgáltatás viselkedéskonfigurációjához. -->
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>